<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-text>
  <ion-title>welcome</ion-title>
</ion-text>

    <ion-card-content style="display: flex; justify-content: center;">
      <ion-button shape="round">Start a New Survey</ion-button>
    </ion-card-content>
    
    <ion-card-content style="display: flex; justify-content: center;">
      <ion-button shape="round">View List</ion-button>
    </ion-card-content>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
